title: VUB Magma Seminar 
#email:
description: >- # this means to ignore newlines until "baseurl:"
#  Write an awesome description for your new site here. You can edit this
#  line in _config.yml. It will appear in your document head meta (for
#  Google search results) and in your feed.xml site description.
#twitter_username: username
#github_username: username
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 10 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

enable_copy_code_button: true

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "VUB Algebra Research Group" 
  avatar: "/assets/images/vub.png"
  url: "https://leandrovendramin.org/team/" 
  location : "Brussels, Belgium"
  email: "Leandro.Vendramin@vub.be"
  bio: "A group of algebraists exploring Magma in an informal, friendly
    seminar. We seek the line of code that finally makes everything work."
  links:
    - label: "Website"
      url: "https://leandrovendramin.org/team/"

footer:
  links:
    - label: "VUB Algebra Research Group"
      url: "https://leandrovendramin.org/team/" 
      email: "Leandro.Vendramin@vub.be"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true  
      read_time: true 
      comments: true
      readmore: false
      share: true 
      related: true
      show_date: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true 

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
